@model AspNetMvcİntro.Models.EmployeeAddViewModel;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Add";
}



<html>
<head>
</head>

<body>
<form asp-action="Add" asp-controller="Employee">

        <label asp-for="Employee.Id"></label><input asp-for="Employee.Id" /><br />
        <label asp-for="Employee.FirstName"></label><input asp-for="Employee.FirstName" /><br />
        <label asp-for="Employee.LastName"></label><input asp-for="Employee.LastName" /><br />
        <select asp-for="Employee.CityId" asp-items="Model.Cities"></select>
    <button type="submit" >Add</button>


</form>


</body>
</html>